@model ProductVM

@{
    ViewData["Title"] = "Create Product";
}

<div class="container py-5">
    <div class="row justify-content-center ">
        <div class="col-lg-10">
            <div class="row g-4 align-items-start">
                <!-- Left Side (Form) -->
                <div class="col-lg-6">
                    <h3 class="fw-bold mb-4 text-dark">Add New Product</h3>

                    <form asp-action="Create" class="p-4 border rounded-4 bg-white shadow-sm" style="width: 100%; " method="post" id="CreateForm" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="@Model.Product.Name" class="form-label fw-semibold text-nowrap me-3 text-black">Product Name</label>
                            <input asp-for="@Model.Product.Name" class="form-control rounded-2 text-black" placeholder="Enter product name">
                            @* <span asp-validation-for="Name" class="text-danger small" style="display:block; margin-top:0.25rem;"></span> *@
                        </div>
                        <div class="my-1">
                            <span asp-validation-for="@Model.Product.Name" class="text-danger small d-block" style="min-height: 1em;"></span>
                        </div>

                         <div class="mb-3">
                            <label asp-for="@Model.Product.Description" class="form-label fw-semibold me-3 text-black">Description</label>
                            <textarea asp-for="@Model.Product.Description"  class="form-control rounded-2 text-black" rows="3" placeholder="Enter short description"></textarea>
                            @* <span asp-validation-for="Description" class="text-danger small"></span> *@
                        </div>
                        <div class="my-1">
                            <span asp-validation-for="@Model.Product.Description" class="text-danger small d-block " style="min-height: 1em;"></span>
                        </div> 

                        @* <div class="mb-3 d-flex flex-column">
                            <label asp-for="@Model.Product.Description" class="form-label fw-semibold text-black mb-2" style="text-align:left; width:100%;">
                                Description
                            </label>
                            <textarea asp-for="@Model.Product.Description" id="DescriptionTextArea"
                                      class="form-control rounded-2 text-black" rows="8" placeholder="Enter short description" style="width:100%; min-height:200px;"></textarea>
                            <span asp-validation-for="@Model.Product.Description" class="text-danger small mt-1"></span>
                        </div> *@


                        <div class="mb-3">
                            <label asp-for="@Model.Product.Seller" class="form-label fw-semibold me-3 text-black">Seller</label>
                            <input asp-for="@Model.Product.Seller" class="form-control rounded-2 text-black" placeholder="Seller name">
                            @* <span asp-validation-for="Seller" class="text-danger small"></span> *@
                        </div>
                        <div class="my-1">
                            <span asp-validation-for="@Model.Product.Seller" class="text-danger small d-block" style="min-height: 1em;"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="@Model.Product.Price" class="form-label fw-semibold text-nowrap me-3 text-black">Price ($)</label>
                            <input asp-for="@Model.Product.Price" class="form-control rounded-2 text-black" placeholder="0.00">
                            @* <span asp-validation-for="Price" class="text-danger small d-block" style="min-height: 1em;"></span> *@
                        </div>
                        <div class="my-1">
                            <span asp-validation-for="@Model.Product.Price" class="text-danger small d-block" style="min-height: 1em;"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="@Model.Product.DiscountPrice" class="form-label fw-semibold text-nowrap me-3 text-black">Discount Price ($)</label>
                            <input asp-for="@Model.Product.DiscountPrice" class="form-control rounded-2 text-black" placeholder="Optional">
                            <span asp-validation-for="@Model.Product.DiscountPrice" class="text-danger small d-block" style="min-height: 1em;"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="@Model.Product.CategoryId" class="form-label fw-semibold text-nowrap me-3 text-black">Category</label>
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select rounded-2 text-black" placeholder="Optional">
                                <option selected  disabled>-- Select Category --</option>
                            </select>
                        </div>
                        <div class="my-1">
                            <span asp-validation-for="@Model.Product.CategoryId" class="text-danger small d-block" style="min-height: 1em;"></span>
                        </div>



                        <div class="mb-4">
                            <label asp-for="@Model.Product.ImageUrl" class="form-label fw-semibold text-black">Product Image</label>
                            <input type="file" id="imgFileInput" name="imgFile" class="form-control rounded-2 text-black">
                            @* <span asp-validation-for="@Model.Product.ImageUrl" class="text-danger small d-block" style="min-height: 1em;"> </span> *@
                        </div>

                    </form>
                </div>

                <!-- Right Side (Reserved for Preview) -->
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="border rounded-4 bg-light d-flex justify-content-center align-items-center"
                         style="width: 100%; height: 400px;">
                        <span id="previewPlaceholder"  class="text-muted">🖼️ Image Preview (Coming Soon)</span>
                        @* <img id="imagePreview" src="" alt="Preview"
                             style="max-height:100%; max-width:100%; display:none; object-fit:contain;"> *@
                        
                        <img id="imagePreview" src="" alt="Preview"
                             style="width: 100%; height: 100%; object-fit: contain; background-color: #f8f9fa; padding: 10px; display:none;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center gap-3">
    <a asp-action="Index" class="btn btn-outline-dark px-4 rounded-2">Cancel</a>
    <button type="submit" class="btn btn-success px-4 rounded-2" form="CreateForm">Save Product</button>
</div>


@section Scripts {
   
    @* JS Code To Preview The Image Once The User Upload It By Input Type=File *@
    <script>
        const fileInput = document.getElementById('imgFileInput');
        const imagePreview = document.getElementById('imagePreview');
        const placeholder = document.getElementById('previewPlaceholder');

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    placeholder.style.display = 'none';
                };

                reader.readAsDataURL(file);
            } else {
                
                imagePreview.style.display = 'none';
                placeholder.style.display = 'block';
                imagePreview.src = '';
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


